<!DOCTYPE html>
<html>

<body>
    <p>This website uses EJS, bootstrap, and node.js to create a dynamic site with headers and footers on each page</p>
    <p>Each tab links to another page of the site, but every page has the same header and footer with tabs as links</p>
    <p>The square tab brings the user to a page, where numbers can be entered. The result will be that number squared</p>
    <p>The cube tab brings the user to a page, where numbers can be entered. The result will be that number cubed</p>
    <p>The home tab brings the user back to the original page</p>
</body>

</html>